
/* 1) обратиться только к тем ссылкам, значение атрибута href которых начинается с https и сделайте их красным цветом */
a[href^=https] {
    color:red;
}

/* 2) применится только для последней ссылки в первом cписке (link6) и задаст ей зеленый фоновый цвет */
/* тут что то делаю не так  , пытался на послений li в классе list , но не получается*/

.list li:nth-child(4)  {
    background-color: lime;
  }

/* 3) будет действовать только для <p>, который идет после <ul> и задаст размер шрифта 26px */
ul + p {
    font-size: 26px;
} 